<appSettings>
  <add key="Hoptoad:ApiKey" value="HOPTOAD API KEY"/>
  <add key="Hoptoad:Environment" value="Production" />
  <add key="Hoptoad:HopToadServerURL" value ="http://redmine.local/notifier_api/v2/notices"/>
  <add key="Hoptoad:VerboseMethods" value ="true"/>
  <add key="Hoptoad:RedMineActive" value="true"/>
  <add key="Hoptoad:RedmineAPIKey" value="redmineAPIKey"/>
  <add key="Hoptoad:RedmineTracker" value="Bug"/>
  <add key="Hoptoad:RedMineCategory" value="Functionality"/>
  <add key="Hoptoad:RedMineProject" value="testproject"/>
  <add key="Hoptoad:RedMinePriority" value="5"/>
</appSettings>
